Repository Suniron/monorepo-nuxt2-nuxt3-problem: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

api-create-recette-image:
  before_script:
  - 'VERSION=v$(cat package.json | grep version | head -1 | awk -F: ''{ print $2 }'' | sed ''s/[", ]//g'')'
  - 'echo "App version: $VERSION"'
  - node -v
  - pnpm -v
  stage: create-image
  tags:
  - recettage
  script:
  - env
  - echo creating new Recette image for tag $VERSION
  ...

api-create-prerelease-image:
  before_script:
  - 'VERSION=v$(cat package.json | grep version | head -1 | awk -F: ''{ print $2 }'' | sed ''s/[", ]//g'')'
  - 'echo "App version: $VERSION"'
  - node -v
  - pnpm -v
  stage: create-image
  tags:
  - recettage
  script:
  - echo creating new PreRelease image for tag $VERSION
  ...

api-create-prod-image:
  before_script:
  - 'VERSION=v$(cat package.json | grep version | head -1 | awk -F: ''{ print $2 }'' | sed ''s/[", ]//g'')'
  - 'echo "App version: $VERSION"'
  - node -v
  - pnpm -v
  stage: create-image
  tags:
  - recettage
  script:
  ...

api-start-job:
  stage: deploy
  tags:
  - recettage
  - front
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Starting..."
  - cd /home/user/git/xrator-frontend-compose/
  - docker-compose -f "docker-compose.rec.yml" rm -s -v -f xrator_api
  - docker pull $DOCKER_REGISTRY/test-xrator_api:rec
  ...

api-start-prerelease:
  stage: deploy
  tags:
  - prerelease
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Starting..."
  - cd /home/user/xrator-compose/
  - docker-compose -f "docker-compose.yml" rm -s -v -f xrator_api
  - docker pull $DOCKER_REGISTRY/test-xrator_api:pre
  ...

web-create-recette-image:
  stage: create-image
  tags:
  - recettage
  script:
  - 'VERSION=v$(cat package.json | grep version | head -1 | awk -F: ''{ print $2 }'' | sed ''s/[", ]//g'')'
  - env
  - echo creating new Recette image for tag $VERSION
  ...

web-create-prerelease-image:
  stage: create-image
  tags:
  - recettage
  script:
  - 'VERSION=v$(cat package.json | grep version | head -1 | awk -F: ''{ print $2 }'' | sed ''s/[", ]//g'')'
  - echo creating new PreRelease image for tag $VERSION
  ...

web-create-prod-image:
  stage: create-image
  tags:
  - recettage
  script:
  - 'VERSION=v$(cat package.json | grep version | head -1 | awk -F: ''{ print $2 }'' | sed ''s/[", ]//g'')'
  - docker build ./apps/web/ --target prod -t $DOCKER_REGISTRY/test-xrator_ui:prod-$VERSION -t $DOCKER_REGISTRY/test-xrator_ui -f Dockerfile
  ...

web-start-job:
  stage: deploy
  tags:
  - recettage
  - front
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Starting..."
  - cd /home/user/git/xrator-frontend-compose/
  - docker-compose -f "docker-compose.rec.yml" rm -s -v -f xrator_ui
  - docker pull $DOCKER_REGISTRY/test-xrator_ui:rec
  ...

web-start-prerelease:
  stage: deploy
  tags:
  - prerelease
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Starting..."
  - cd /home/user/xrator-compose/
  - docker-compose -f "docker-compose.yml" rm -s -v -f xrator_ui
  - docker pull $DOCKER_REGISTRY/test-xrator_ui:pre
  ...

chore: (DX) add tailwindcss + TS + daisyui + Volar instead of Vetur
  .vscode/extensions.json
  .vscode/settings.json
  apps/web/assets/css/main.css
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  apps/web/types/vue-shim.d.ts
  pnpm-lock.yaml
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

feat: handle mainIps
  apps/api/src/services/assets/index.js
  apps/store/src/models/assets/index.ts
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

refactor: rewrite with composition API
  apps/web/components/assets/asset-card.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

fix: remove bg secondary color
  apps/web/components/assets/type/server/edit-details.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

feat: add main ip on server asset card
  apps/web/components/assets/type/server/card-details.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

feat: show Main IP in front
  apps/store/src/models/assets/index.ts
  apps/web/components/assets/type/AssetInfo.vue
  apps/web/components/assets/type/server/CardDetails.vue
  apps/web/components/assets/type/server/EditDetails.vue
  apps/web/components/assets/type/server/profile.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: move worksapce lib to dev
  apps/api/package.json
  pnpm-lock.yaml
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease

refactore: update lib versionning syntaxe
  apps/api/package.json
  pnpm-lock.yaml
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease

chore: fix docker image build
  apps/store/Dockerfile
Due: store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

ci: disabled "changes" trigger to avoid non build
  .gitlab-ci.yml
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

ci: rename test-* images to real images
  .gitlab-ci.yml
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

XRAT-588 and XRAT-654
  apps/api/src/services/assets/index.js
  apps/store/src/models/assets/index.ts
  apps/web/components/assets/LightAssetCard.vue
  apps/web/components/assets/details/AssetRiskScore.vue
  apps/web/components/assets/details/AssetRiskScoreBar.vue
  apps/web/components/assets/type/card-footer.vue
  apps/web/utils/asset.utils.js
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

XRAT-297
  apps/store/src/models/assets/index.ts
  apps/store/types/asset.d.ts
Due: store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

add tuile bar
  apps/web/pages/settings/index.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

chore: fix web image
  apps/web/Dockerfile
  apps/web/components/assets/asset-card.vue
  apps/web/components/assets/type/server/CardDetails.vue
  apps/web/package.json
  pnpm-lock.yaml
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

ci: fix & improve web Dockerfile
  apps/web/Dockerfile
  apps/web/package.json
  apps/web/tsconfig.json
  docker-compose.prod.yml
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

ci: use latest turbo version
  apps/web/Dockerfile
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

ci: fix web images creation
  .gitlab-ci.yml
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

ci: fix nuxt generate
  apps/web/Dockerfile
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

ci: fix bad group in dockerfile
  apps/web/Dockerfile
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

ci: fix handle env during "generate" command
  apps/web/Dockerfile
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

ci: improve stages
  .gitlab-ci.yml
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

ci: fix dockers
  apps/api/Dockerfile
  apps/store/Dockerfile
  apps/web/Dockerfile
  apps/web/DockerfileTodo
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

ci: re-add prestart command
  apps/web/Dockerfile
  apps/web/package.json
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

center element and modify color
  apps/web/assets/styles/sass/abstracts/_variables.scss
  apps/web/pages/settings/index.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

By default, new server take the first given ip as main ip
  apps/store/src/models/assets/index.ts
  apps/store/src/models/assets/ip/index.ts
Due: store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

infinite load fix if there is an error
  apps/web/components/assets/details/AssetRiskScore.vue
  apps/web/components/assets/details/RiskScoreExplanationModal.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

update horizobtal size of the components
  apps/web/pages/settings/index.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

chore: add log debug only in dev
  apps/web/lib/logger.ts
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

fix: risk score compute error
  apps/store/src/models/assets/index.ts
  apps/web/components/assets/details/AssetRiskScore.vue
  apps/web/utils/risk.utils.ts
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

feat: improve settings page style
  apps/web/pages/settings.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

fix z-index overlap
  apps/web/components/assets/type/server/CardDetails.vue
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

chore: fix ci: only used images
  .gitlab-ci.yml
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

fix: add migration to clean vulnerability_asset data (null instead of empty string)
  apps/store/migrations/20221219164700_clean_vulnerability_asset_table_data.js
Due: store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

fix: add a migration to clean data
  apps/store/migrations/20221219164700_clean_vulnerability_asset_table_data.js
Due: store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

update to 1.15.0
  apps/api/package.json
  apps/db/package.json
  apps/store/package.json
  apps/web/package.json
  package.json
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

chore: improve server logs (in single line)
  apps/api/src/lib/logger.js
  apps/store/src/lib/logger.ts
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

fix: error handling
  apps/api/src/loaders/error-handler-loader.js
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease

chore: improve security
  apps/api/src/routes/auth/index.js
Due: api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease

chore: improve typing
  apps/web/services/auth/index.js
Due: web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease

Path conditions:
  api-create-recette-image: any of: apps/api/**/*, .gitlab-ci.yml
  api-create-prerelease-image: any of: apps/api/**/*, .gitlab-ci.yml
  api-create-prod-image: any of: apps/api/**/*, .gitlab-ci.yml
  api-start-job: any of: apps/api/**/*, .gitlab-ci.yml
  api-start-prerelease: any of: apps/api/**/*, .gitlab-ci.yml
  web-create-recette-image: any of: apps/web/**/*, .gitlab-ci.yml
  web-create-prerelease-image: any of: apps/web/**/*, .gitlab-ci.yml
  web-create-prod-image: any of: apps/web/**/*, .gitlab-ci.yml
  web-start-job: any of: apps/web/**/*, .gitlab-ci.yml
  web-start-prerelease: any of: apps/web/**/*, .gitlab-ci.yml
  store-create-recette-image: any of: apps/store/**/*, .gitlab-ci.yml
  store-create-prerelease-image: any of: apps/store/**/*, .gitlab-ci.yml
  store-create-prod-image: any of: apps/store/**/*, .gitlab-ci.yml
  store-start-job: any of: apps/store/**/*, .gitlab-ci.yml
  store-start-prerelease: any of: apps/store/**/*, .gitlab-ci.yml
  db-create-recette-image: any of: apps/db/**/*, .gitlab-ci.yml
  db-create-prerelease-image: any of: apps/db/**/*, .gitlab-ci.yml
  db-create-prod-image: any of: apps/db/**/*, .gitlab-ci.yml
  db-start-job: any of: apps/db/**/*, .gitlab-ci.yml
  db-start-prerelease: any of: apps/db/**/*, .gitlab-ci.yml
