Repository Suniron/monorepo-nuxt2-nuxt3-problem: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api-unit-test-job, api-lint-test-job, api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-unit-test-job, web-lint-test-job, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

Path conditions:
  api-unit-test-job: any of: apps/api/**/*.js, apps/api/**/*.ts, apps/api/**/*.json
  api-lint-test-job: any of: apps/api/**/*.js, apps/api/**/*.ts, apps/api/**/*.json
  api-create-recette-image: any of: apps/api/**/*.js, apps/api/**/*.ts, apps/api/**/*.json
  api-create-prerelease-image: any of: apps/api/**/*.js, apps/api/**/*.ts, apps/api/**/*.json
  api-create-prod-image: any of: apps/api/**/*.js, apps/api/**/*.ts, apps/api/**/*.json
  api-start-job: any of: apps/api/**/*.js, apps/api/**/*.ts, apps/api/**/*.json
  api-start-prerelease: any of: apps/api/**/*.js, apps/api/**/*.ts, apps/api/**/*.json
  web-unit-test-job: any of: apps/web/**/*.ts, apps/web/**/*.js, apps/web/**/*.json
  web-lint-test-job: any of: apps/web/**/*.ts, apps/web/**/*.js, apps/web/**/*.json
  web-create-recette-image: any of: apps/web/**/*.ts, apps/web/**/*.js, apps/web/**/*.json
  web-create-prerelease-image: any of: apps/web/**/*.ts, apps/web/**/*.js, apps/web/**/*.json
  web-create-prod-image: any of: apps/web/**/*.ts, apps/web/**/*.js, apps/web/**/*.json
  web-start-job: any of: apps/web/**/*.ts, apps/web/**/*.js, apps/web/**/*.json
  web-start-prerelease: any of: apps/web/**/*.ts, apps/web/**/*.js, apps/web/**/*.json
  store-unit-test-job: any of: apps/store/**/*.js, apps/store/**/*.ts, apps/store/**/*.json
  store-lint-test-job: any of: apps/store/**/*.js, apps/store/**/*.ts, apps/store/**/*.json
  store-create-recette-image: any of: apps/store/**/*.js, apps/store/**/*.ts, apps/store/**/*.json
  store-create-prerelease-image: any of: apps/store/**/*.js, apps/store/**/*.ts, apps/store/**/*.json
  store-create-prod-image: any of: apps/store/**/*.js, apps/store/**/*.ts, apps/store/**/*.json
  store-start-job: any of: apps/store/**/*.js, apps/store/**/*.ts, apps/store/**/*.json
  store-start-prerelease: any of: apps/store/**/*.js, apps/store/**/*.ts, apps/store/**/*.json
  db-create-recette-image: any of: apps/db/**/*
  db-create-prerelease-image: any of: apps/db/**/*
  db-create-prod-image: any of: apps/db/**/*
  db-start-job: any of: apps/db/**/*
  db-start-prerelease: any of: apps/db/**/*

ci: update paths
  .gitlab-ci.yml
Due: none

ci: update wrong variable
  .gitlab-ci.yml
Due: none

ci: debug
  .gitlab-ci.yml
Due: none

ci
  .gitlab-ci.yml
Due: none

feat: add pnpm
  .gitignore
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/pnpm-lock.yaml
  apps/store/Dockerfile
  apps/store/package.json
  apps/store/pnpm-lock.yaml
  apps/web/Dockerfile
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  docker-compose.dev.yml
  package.json
Due: api-unit-test-job, api-lint-test-job, api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-unit-test-job, web-lint-test-job, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: add pnpm
  .dockerignore
  apps/api/.dockerignore
  apps/api/.npmrc
  apps/api/Dockerfile
  apps/api/package-lock.json
  apps/db/.dockerignore
  apps/store/.dockerignore
  apps/store/.npmrc
  apps/store/.nvmrc
  apps/store/Dockerfile
  apps/store/build.js
  apps/store/package.json
  apps/store/pnpm-lock.yaml
  apps/store/yarn.lock
  apps/web/.dockerignore
  apps/web/.npmrc
  apps/web/Dockerfile
  apps/web/package-lock.json
  pnpm-lock.yaml
Due: api-unit-test-job, api-lint-test-job, api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-unit-test-job, web-lint-test-job, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

chore: add prod docker compose
  docker-compose.prod.yml
  package.json
Due: none

ci: activate pnpm
  .gitlab-ci.yml
Due: none

ci: move folder
  .gitlab-ci.yml
Due: none

ci: test api lint job
  .gitlab-ci.yml
Due: none

clean: remove useless
  .vscode/.settings.json
  all.code-workspace
  apps/api/.vscode/launch.json
  apps/store/.vscode/launch.json
  apps/store/.vscode/settings.json
  apps/store/.vscode/xrator.code-snippets
  apps/web/.vscode/launch.json
  apps/web/.vscode/settings.json
  packages/ui/Button.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: api-unit-test-job, api-lint-test-job, api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-unit-test-job, web-lint-test-job, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

feat: add new logger
  apps/store/src/models/scans/index.js
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: reduce log during tests
  apps/store/src/lib/logger.js
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

clean: remove useless code
  apps/store/src/common/db/__mocks__/index.js
  apps/store/test/mocks.js
  apps/store/test/routes/login/auth.test.js
  apps/store/test/routes/probes/probe.test.js
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: add app names
  apps/api/package.json
  apps/db/package.json
  apps/store/package.json
  apps/web/package.json
Due: api-unit-test-job, api-lint-test-job, api-create-recette-image, api-create-prerelease-image, api-create-prod-image, api-start-job, api-start-prerelease, web-unit-test-job, web-lint-test-job, web-create-recette-image, web-create-prerelease-image, web-create-prod-image, web-start-job, web-start-prerelease, store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease, db-create-recette-image, db-create-prerelease-image, db-create-prod-image, db-start-job, db-start-prerelease

chore: ignore .env file
  .gitignore
Due: none

chore: improve config typing
  apps/store/jest.config.js
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: add test command
  package.json
  turbo.json
Due: none

upgrade deps
  pnpm-lock.yaml
Due: none

fix lint
  apps/store/build.js
  apps/store/migrations/20221104140000_remove_duplicated_tags.js
  apps/store/migrations/20221122000000_clean_1970_start_date_scan.js
  apps/store/prisma/resetSeeders.js
  apps/store/src/controllers/probes/index.js
  apps/store/src/controllers/relations/index.js
  apps/store/src/models/relations/index.js
  apps/store/src/models/tags/index.js
  apps/store/src/utils/RiskScoreComputing.js
  apps/store/test/mocks.js
  apps/store/test/routes/file.test.js
  turbo.json
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

fix ci
  apps/store/src/common/db/__mocks__/index.js
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

upgrade babel node
  apps/store/.babelrc
Due: none

chore: add start command
  package.json
Due: none

ci
  apps/store/jest.config.js
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: update babel config
  apps/store/.babelrc
  apps/store/babel.config.js
  apps/store/jest.config.js
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: add babel-jest to fix tests
  apps/store/jest.config.js
  apps/store/package.json
  pnpm-lock.yaml
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: remove useless babel node
  apps/store/package.json
  pnpm-lock.yaml
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: add babel-jest
  apps/store/package.json
  pnpm-lock.yaml
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

chore: ROLLBACK remove babel-jest
  apps/store/jest.config.js
  apps/store/package.json
  pnpm-lock.yaml
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

ci: fix tests
  apps/store/jest.config.js
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease

ci: add TextEncoder in jest setup
  apps/store/jest.config.js
  apps/store/test/utils/setupJest.js
Due: store-unit-test-job, store-lint-test-job, store-create-recette-image, store-create-prerelease-image, store-create-prod-image, store-start-job, store-start-prerelease
